@import "config";
@import "menu";

@font-face {
  font-family: Simplifica;
  src: url("../css/font/Simplifica_Sans.ttf");
}

@font-face {
  font-family: Bauhaus;
  src: url("../css/font/BAUHS93.ttf");
}

@font-face {
  font-family: Aileron-Heavy;
  src: url("../css/font/Aileron-Heavy.otf");
}

@font-face {
  font-family: Aileron-UltraLight;
  src: url("../css/font/Aileron-UltraLight.otf");
}

@font-face {
  font-family: ZefaniStencil-Regular;
  src: url("../css/font/ZefaniStencil-Regular.otf");
}

@font-face {
  font-family: Audrey-Normal;
  src: url("../css/font/Audrey-Normal.otf");
}

@font-face {
  font-family: Bavro-Regular;
  src: url("../css/font/Bavro-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 1.5;
}

// Headings
h1 {
  &.lg-heading {
    color: #fff;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
    font-family: Bauhaus;
    margin: 0;
  }

  &.sm-heading {
    color: #fff;
    font-weight: 900;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
    font-family: Simplifica;
    margin-bottom: 25px;
  }
}

h2 {
  &.lg-heading {
    color: lighten($primary-color, 55%);
    font-weight: 500;
    font-size: 2.25em;
    margin-bottom: 15px;
    font-family: Bauhaus;
    margin: 0;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 50), 0.5);
    color: $text;
    margin: 0;
    margin-top: 15px;
    text-align: justify;
    font-family: Aileron-UltraLight;
    font-size: 20px;
    line-height: 32px;
  }
}
h3 {
  margin: 5;
  font-weight: 300;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.5rem;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
  &.text-link {
    color: lighten($primary-color, 55%);
    text-decoration: none;
    &:hover {
      color: $secondary-color;
    }
  }

  &.mail-link {
    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job1 job2";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 2px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Work/Projects
.projects {
  margin-top: 25px;
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    // font-size: 1.6em;
    font-family: Audrey-Normal;
  }
}

.textWithBlurredBg {
  display: inline-block;
  position: relative;
  transition: 0.3s;
  // margin: 4px;
  img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    border-radius: 4px;
    border: #fff 2px solid;
  }
  &:hover img {
    filter: blur(2px) brightness(60%);
    box-shadow: 0 0 16px $secondary-color;
  }
  :not(img) {
    position: absolute;
    z-index: 1;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: 0.3s;
  }

  h3 {
    // top: 50%;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: $secondary-color;
  }

  &:hover :not(img) {
    opacity: 1;
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

  div {
    font-size: 1.7rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
