@import "config";
@import "menu";

@font-face {
  font-family: Simplifica;
  src: url("../css/font/Simplifica_Sans.ttf");
}

@font-face {
  font-family: Bauhaus;
  src: url("../css/font/BAUHS93.ttf");
}

@font-face {
  font-family: Aileron-Heavy;
  src: url("../css/font/Aileron-Heavy.otf");
}

@font-face {
  font-family: Aileron-UltraLight;
  src: url("../css/font/Aileron-UltraLight.otf");
}

@font-face {
  font-family: ZefaniStencil-Regular;
  src: url("../css/font/ZefaniStencil-Regular.otf");
}

@font-face {
  font-family: Audrey-Normal;
  src: url("../css/font/Audrey-Normal.otf");
}

@font-face {
  font-family: Bavro-Regular;
  src: url("../css/font/Bavro-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 1.5;
}

// Headings
h1 {
  &.lg-heading {
    color: #fff;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
    font-family: Bauhaus;
    margin: 0;
  }

  &.sm-heading {
    color: #fff;
    font-weight: 900;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
    font-family: Simplifica;
    margin-bottom: 25px;
  }
}

h2 {
  &.lg-heading {
    color: lighten($primary-color, 55%);
    font-weight: 500;
    font-size: 2.25em;
    margin-bottom: 15px;
    font-family: Bauhaus;
    margin: 0;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 50), 0.5);
    color: $text;
    margin: 0;
    margin-top: 15px;
    text-align: justify;
    font-family: Aileron-UltraLight;
    font-size: 20px;
    line-height: 32px;
  }
}
h3 {
  margin: 5;
  font-weight: 300;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.5rem;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
  &.text-link {
    color: burlywood;
    text-decoration: none;
    &:hover {
      color: $secondary-color;
    }
  }

  &.mail-link {
    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job1 job2";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 2px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job {
    background: darken($primary-color, 2%);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }

  h2 {
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    text-align: center;
    font-family: Aileron-UltraLight;
    // font-size: 1.2em;
  }

  h4 {
    margin: 0;
    font-family: Aileron-Heavy;
    font-size: 1.2em;
    text-align: center;
  }

  h3 {
    font-family: Simplifica;
    font-size: 1.4em;
  }
}

// Work/Projects
.projects {
  margin-top: 25px;
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    // font-size: 1.6em;
    font-family: Audrey-Normal;
  }
}

.textWithBlurredBg {
  display: inline-block;
  position: relative;
  transition: 0.3s;
  // margin: 4px;
  img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    // border-radius: 4px;
    // border: #fff 2px solid;
  }
  &:hover img {
    filter: blur(2px) brightness(60%);
    box-shadow: 0 0 16px $secondary-color;
  }
  :not(img) {
    position: absolute;
    z-index: 1;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: 0.3s;
  }

  h3 {
    // top: 50%;
    font-family: Aileron-Heavy;
    color: $secondary-color;
  }

  &:hover :not(img) {
    opacity: 1;
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

  div {
    font-size: 1.7rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

#contact-block {
  padding: 50px 15px;
  // background: $secondary-color;
  text-align: center;
  h2 {
    margin: 0 0 15px 0;
    color: #fff;
    font-weight: 500;
  }
}

#contact-form {
  // max-width: 800px;
  margin: 0 auto;
  input,
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: #2e3641;
    color: #fff;
    transition: 0.5s ease all;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #fff;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder,
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #fff;
    opacity: 1;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #fff;
  }
  input:focus {
    outline: none;
    background: #191d23;
  }
  textarea {
    &:focus {
      outline: none;
      background: #191d23;
    }
    height: 150px;
    resize: none;
  }
  button {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #4e5b6e;
    font-weight: 800;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.5s ease all;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

.button {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: "Poiret One", cursive;
  font-size: 2em;
}

.button-green {
  @include button-bg(#2ecc71);
}

.button-blue {
  @include button-bg(#3498db);
}

.button-yellow {
  @include button-bg(#f1c40f);
}

.button-red {
  @include button-bg(#e74c3c);
}

/*Other Stylez*/
.wrap {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

h1 {
  font-family: "Poiret One", cursive;
  font-size: 4em;
}

// add for single project page
.project-name {
  // display: table;
  text-align: center;
  // font-size: 3vw;
  font-family: Bauhaus;
  margin-top: 130px;
  margin-bottom: 130px;
}

.project-area {
  background-color: #fff;
  margin: 0;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  color: set-text-color($primary-color);
  h2 {
    color: #191d23;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 2000;
    font-size: 2em;
  }

  p {
    margin-top: 0;
    color: #191d23;
  }

  .section {
    border-left-color: orange;
    border-left-style: solid;
    border-left-width: 8px;
    padding-left: 6px;
  }
}

@import "mobile";
